//page-login {
  // .scroll-content {
  // //  display: inline-flex;
  // //  display: -moz-inline-block;
  // //  display: -webkit-inline-flex;
  // //  align-content: center;
  // //  flex-direction: column;
  // //  justify-content: center;
  //   text-align: center;
  //   background-color: #d2d6de;
  // }

  // .text_center{
  //   text-align: center;
  // }
  // ion-card.card {
  //   box-shadow: none;
  //   background:#d2d6de;
  //   border-radius: 5px;
  // }

  // a, p,
  // // ion-card-header.card-header {
  // //   color: #fff!important;
  // // }
  // ion-card-content.card-content {
  //   background-color: #fff!important;
  // }

  // .list > .item-block:first-child {
  //   border: medium none;
  // }

  // .item {
  //   margin-bottom: 10px;
  //   background: rgba(255, 255, 255, 0.5);
  //   border: medium none;

  //   .text-input {
  //     // color: #fff;
  //     display: block;
  //     width: 90%;
  //     height: 34px;
  //     padding: 6px 12px;
  //     font-size: 14px;
  //     line-height: 1.42857143;
  //     color: #555;
  //     background-color: #fff;
  //     background-image: none;
  //     border: 1px solid #ccc;
  //     border-radius: 4px;
  //     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //     box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //     -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  //     -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  //     transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  //     border-radius: 0;
  //     box-shadow: none;
  //     border-color: #d2d6de;
  //   }

  //   input::-moz-placeholder  {
  //     color: #fff!important;
  //   }

  //   input:-moz-placeholder {
  //     color: #fff!important;
  //   }

  //   *::-webkit-input-placeholder  {
  //     color: #fff!important;
  //   }

  //   *:-ms-input-placeholder  {
  //     color: #fff!important;
  //   }

  //   *:-moz-placeholder  {
  //     color: #fff!important;
  //   }
  // }

  // .icon {
  //   padding-right: 10px;
  // }

  // .bottom {
  //   position: absolute;
  //   bottom: 0;
  // }
  page-login {
    
 
  .login-content {
    // background: #d2d6de;   
    //background-color:color($colors,primary);
      background-image:url('../assets/images/bg_3.jpg');
      background-size:100% auto;
       
   
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      //background: #fff;
      background: rgba(179,220,237,1);
background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,0.57) 50%, rgba(188,224,238,0.14) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,0.57)), color-stop(100%, rgba(188,224,238,0.14)));
background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,0.57) 50%, rgba(188,224,238,0.14) 100%);
background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,0.57) 50%, rgba(188,224,238,0.14) 100%);
background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,0.57) 50%, rgba(188,224,238,0.14) 100%);
background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,0.57) 50%, rgba(188,224,238,0.14) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #3c8dbc;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #3c8dbc;
       font-size: 0.8em;
     }
  }
 
}
//}
